body{
    background-color: sienna;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
}
img{
    float: right;
}
li{
    list-style-image: url(./img/ball.png);
}
li a{
    list-style: none;
}
li a:hover{
    color: gold;
}