body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: dimgray;
    color: white;
}
a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: gold;
 }
  
img {
    width: 200px;
    display: block;
    transition: all 0.3s;
    border: 2px solid white;   
}
img:hover {
    width: 250px;
    box-shadow: 0 0 20px black;
}
 